
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Employee</a></li>
            <li><a href="#">Listing</a></li>
        </ol>
    </section>
    <br />
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">Employee Listing</h3>


        </div>
        <div class="col-md-2">
            <button type="button" onclick="exporttoexcel()" class="col-md-1 btn btn-primary btn-block btn-flat">EXPORT TO EXCEL</button>
        </div>

        <!-- /.box-header -->
        <div class="box-body" style="padding-top:20px;">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                <div class="row">
                    <div class="col-sm-12">
                        <table id="EmpInfo" class="table table-striped- table-bordered table-hover table-checkable responsive no-wrap dataTable collapsed  table table-bordered  table-hover">
                            <thead>
                                <tr>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">ID</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Name</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Date of birth</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Qualification</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Experience</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Joining_Date</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Salary</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Designation</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Hobbies</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1">Created_Date</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyid"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
@*<link href="~/Scripts/metrotable/Datatableinternate.css" rel="stylesheet" />*@
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="../Content/assets/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        List('L');
    });

    function List(Method) {
        $.getJSON("/Employee/BindListGrid",
            {

            },

            function (json) {
                $('#EmpInfo').DataTable().destroy();
                $('#EmpInfo tbody').empty();
                var alert = '';
                var tr;
                if (json.length > 0) {
                    for (var i = 0; i < json.length; i++) {

                        tr = $('<tr/> ');
                        tr.append("<td> " + json[i].Id + "</td>");
                        tr.append("<td> " + json[i].Name + "</td> ");
                        tr.append("<td> " + json[i].dob + "</td> ");
                        tr.append("<td> " + json[i].qualification + "</td> ");
                        tr.append("<td> " + json[i].exprience + "</td> ");
                        tr.append("<td> " + json[i].joining_date + "</td> ");
                        tr.append("<td> " + json[i].salary + "</td> ");
                        tr.append("<td> " + json[i].designation + "</td> ");
                        tr.append("<td> " + json[i].hobbies + "</td> ");
                        tr.append("<td> " + json[i].recordts + "</td> ");
                        $('table').append(tr);
                    }

                    $('#EmpInfo').DataTable();
                }
                else {
                    tr = $('<tr/> ');
                    tr.append("<td> " + "Record Not Found" + "</td> ");
                    $('#EmpInfo').DataTable();
                }
            });

    }

    function exporttoexcel() {
        var form = $(document.createElement('form'));
        $(form).attr("action",'/Employee/ExportExclVoucher');
        $(form).attr("method", "POST");
        $(form).css("display", "none");


        form.appendTo(document.body);
        $(form).submit();
    }

    var Notification = function (Type, Message, Title) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp"
        }
        if (Type == "success") {
            toastr.success(Message, Title);
        }
        if (Type == "error") {
            toastr.error(Message, Title);
        }
        if (Type == "warning") {
            toastr.warning(Message, Title);
        }
    }

</script>

